---
---

@import './common.scss';

// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
@import './fonts.scss';

// -----------------------------------------------------------------------------
// Template
// -----------------------------------------------------------------------------
html, body {color: $text-color;}
body {background: $background;}
body.dark {background: $text-color};
.site-container {max-width: 1800px; margin: 0 auto;}
.main-nav-container {overflow: hidden; border-bottom: $border-standard;}
.basis-logo {font-family: 'Bolshevik';}
.basis-logo {
	img {max-width: 54px;}
	span {display: block; padding: 10px 0 0 0px; font-size: 26px; font-family: 'Bolshevik';}
}
nav.main {
	.menu {font-size: 24px; text-decoration: none;}
	ul.uk-navbar-nav {flex-wrap: wrap;}
	ul.uk-navbar-nav {
		a {color: $link-color-dark; font-size: 14px;}
		a:hover {text-decoration: underline;}
		icon {font-size: 16px;}
	}
}

footer {
	icon {font-size: 24px;}
	.jab {font-weight: bold;}
	.uk-iconnav {
		a:hover {text-decoration: none;}
	}
}

// -----------------------------------------------------------------------------
// General page styles
// -----------------------------------------------------------------------------
.main-content {min-height: 400px;}
.main-content {
	a:not(.uk-button):not(.uk-slidenav) {
		& {color: $link-color;}
		&:visited {color: $link-color-dark;}
		&:hover {text-decoration: underline;}
	}
	.text-bullets {font-style: italic;}
	.text-bullets {
		.read-more {display: block; margin-top: 6px;}
		&.uk-grid-divider > :not(.uk-first-column)::before {opacity: 0.5;}
	}
}

// -----------------------------------------------------------------------------
// Posts
// -----------------------------------------------------------------------------
.post {
	.date {font-weight: bold; font-size: 0.9em;}
}
.post-list {}
.post-list {
	.post {padding-bottom: 48px; margin-bottom: 48px; border-bottom: $border-standard;}
	.post:last-child {border-bottom: 0;}
	&.summary {
		h3 {font-size: 18px;}
		> .post {
			& {padding-top: 6px; padding-bottom: 16px; margin-bottom: 10px; border: 0;}
			.cover {background-position: center center; background-size: cover;}
		}
	}
	.post-header {
		&.brief {
			h3 {margin: 0; padding: 0;}
			.date {margin: 0; padding: 0; font-weight: normal;}
		}
	}
}

// -----------------------------------------------------------------------------
// Page modules
// -----------------------------------------------------------------------------
.leader-overlay {position: absolute; z-index: 0; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.70);}
.leader-overlay {
	&.network-animation {background: rgba(0, 0, 0, 0.50);}
}
.network-animation-container {z-index: 0; position: absolute; top: -32px; bottom: -32px; left: 0; right: 0; overflow: hidden; background: #111;}
body.has-leader, body.dark-header {
	.main-nav-container {border-bottom: 1px solid rgba(0, 0, 0, 0);}
}
body.has-leader, body.dark-header {
	.main-nav-container {border-bottom: 1px solid $text-color;}
}
body.has-leader, body.dark-header {
	nav.main {
		.uk-logo {
			span {color: $background;}
		}
		.uk-navbar-nav {
			li a {color: $background;}
		}
	}
}
.hero-container {
	.hero {position: relative;}
	.hero.light {
		h1, h2 {color: $text-color;}
	}
	.info {
		h1 {font-size: 48px; font-family: $font-impact;}
		h2 {font-size: 24px; /*max-width: 569px;*/}
		.uk-button-primary {color: $background; background-color: $primary-color;}
	}
}

.icon-grid {}
.icon-grid {
	a {color: #666666 !important; text-decoration: none;}
	a {
		.uk-card-badge {top: 8px; right: 8px; opacity: 0.8; transition: opacity 250ms;}
		&:hover .uk-card-badge {opacity: 1;}
	}
	icon {font-size: 16px;}
}

// they STOLE it from us: https://9elements.com/blog/pure-css-diagonal-layouts/
.diagonal-box {position: relative;}
.diagonal-box {
	&:before {content: ""; display: block; position: absolute; z-index: 0; top: 0; right: 0; bottom: 0; left: 0; transform: skewY(-4deg); transform-origin: 50% 0; outline: 1px solid transparent; backface-visibility: hidden; background-size: cover; background-repeat: no-repeat; opacity: 1; background-position: center center;}
	&.overtake {margin-top: -133px;}
	&.bg-dark:before {background-color: #181818;}
	&.bg-black:before {background-color: #000;}
	> * {position: relative;}
}

.drawing {
	svg {width: 100%;}
}

// -----------------------------------------------------------------------------
// how it works
// -----------------------------------------------------------------------------
body.how {
	.main-content {
		em {color: lighten($secondary-color, 20%); font-style: normal;}
		a:not(.uk-button):not(.uk-slidenav) {
			&:visited {color: $link-color;}
		}
	}
	.bg-black {background-color: #000;}
}
.drawing.boids-container {
	& {height: 250px;}
	.canvas-scaler {position: relative; z-index: 0; width: 250%; height: 200%; left: -75%; top: -50%; transition: opacity 1000ms;}
	.canvas-scaler[data-scroll="out"] {opacity: 0.2;}
	.canvas-scaler[data-scroll="in"] {opacity: 0.8;}
}
.drawing.laptop-network {
	--laptop1-coords-x: 0;
	--laptop1-coords-y: 0;
	--laptop2-coords-x: 0;
	--laptop2-coords-y: 0;
	--laptop3-coords-x: 0;
	--laptop3-coords-y: 0;
	$default-color: $secondary-color;
	$laptop1-color: #1885f8;
	$laptop2-color: #00ffab;
	$laptop3-color: #fdbf4a;
	svg {
		.transaction-container {transform: translate(0, 0); transition: transform 1000ms;}
		.transaction-container {
			&.from-laptop1 {transform: translate(var(--laptop1-coords-x), var(--laptop1-coords-y));}
			&.from-laptop2 {transform: translate(var(--laptop2-coords-x), var(--laptop2-coords-y));}
			&.from-laptop3 {transform: translate(var(--laptop3-coords-x), var(--laptop3-coords-y));}
			&.to-laptop1 {transform: translate(var(--laptop1-coords-x), var(--laptop1-coords-y));}
			&.to-laptop2 {transform: translate(var(--laptop2-coords-x), var(--laptop2-coords-y));}
			&.to-laptop3 {transform: translate(var(--laptop3-coords-x), var(--laptop3-coords-y));}
		}
		.transaction {fill: #0f0; stroke-width: 40px; stroke: #000; transform: scale(0, 0); transition: transform 1000ms;}
		.transaction {
			&.open {transform: scale(1, 1);}
		}
		.transaction.from-laptop1,
		#g-laptop1 ellipse,
		#g-laptop1 path {fill: $laptop1-color;}
		.transaction.from-laptop2,
		#g-laptop2 ellipse,
		#g-laptop2 path {fill: $laptop2-color;}
		.transaction.from-laptop3,
		#g-laptop3 ellipse,
		#g-laptop3 path {fill: $laptop3-color;}
		#laptop1-db,
		#laptop2-db,
		#laptop3-db {fill: $default-color !important; opacity: 0.9;}
		#g-db-data path {
			& {fill: none; opacity: 0; transition: opacity 1000ms;}
			&.enabled {opacity: 1;}
			&.data-laptop1 {fill: $laptop1-color;}
			&.data-laptop2 {fill: $laptop2-color;}
			&.data-laptop3 {fill: $laptop3-color;}
		}
	}
}
.drawing.anonymize {
	& {min-height: 326px; overflow: hidden;}
	canvas {position: relative; z-index: 0; transition: left 1500ms;}
	canvas {
		&.start {left: -120%;};
		&.show {left: 0};
		&.done {left: 120%;}
		&.reset {visibility: hidden;};
	}
}
.animation-slides {
	.viewbox {position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
}

// -----------------------------------------------------------------------------
// contributing
// -----------------------------------------------------------------------------
body.contributing {
	a.uk-card-body:hover {text-decoration: none;}
}

