---
---

@import './common.scss';

// -----------------------------------------------------------------------------
// UIkit
// -----------------------------------------------------------------------------
// overrides
$global-background: $background;
$global-font-family: $font-text;
$global-primary-background: $primary-color;
$global-secondary-background: $text-color;
$breadcrumb-divider-margin-horizontal: 10px;
$base-em-color: inherit;
//$inverse-global-color: desaturate($global-inverse-color, 85%);
$navbar-nav-item-height: 64px;
$base-heading-color: $primary-color;
//$base-heading-font-family: $font-header;
$base-link-color: $primary-color;

@import "./uikit/variables-theme.scss";
@import "./uikit/mixins-theme.scss";
@import './uikit/uikit-theme.scss';

// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
@import './fonts.scss';

// -----------------------------------------------------------------------------
// Template
// -----------------------------------------------------------------------------
html, body {color: $text-color;}
body {background: $background;}
.main-nav-container {overflow: hidden; border-bottom: $border-standard;}
.basis-logo {font-family: 'Bolshevik';}
.basis-logo {
	img {max-width: 54px;}
	span {display: block; padding: 10px 0 0 0px; font-size: 26px; font-family: 'Bolshevik';}
}
nav.main {
	.menu {font-size: 24px; color: #fff; text-decoration: none;}
	ul.uk-navbar-nav {flex-wrap: wrap;}
	ul.uk-navbar-nav {
		icon {font-size: 16px;}
	}
}

a {color: $primary-color;}
a:visited:not(.uk-button) {color: darken($primary-color, 15%);}
a:hover {text-decoration: underline;}

.main-page {min-height: 400px;}

footer {
	icon {font-size: 24px;}
	.jab {font-weight: bold;}
	.uk-iconnav {
		a:hover {text-decoration: none;}
	}
}

// -----------------------------------------------------------------------------
// General page styles
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
	a {color: $primary-color;}
}

// -----------------------------------------------------------------------------
// Posts
// -----------------------------------------------------------------------------
.post {
	.date {font-weight: bold; font-size: 0.9em;}
}
.post-list {}
.post-list {
	.post {padding-bottom: 48px; margin-bottom: 48px; border-bottom: $border-standard;}
	.post:last-child {border-bottom: 0;}
	&.summary {
		h3 {font-size: 18px;}
		> .post {
			& {padding-top: 6px; padding-bottom: 16px; margin-bottom: 10px; border: 0;}
			.cover {background-position: center center; background-size: cover;}
		}
	}
	.post-header {
		&.brief {
			h3 {margin: 0; padding: 0;}
			.date {margin: 0; padding: 0; font-weight: normal;}
		}
	}
}
.post {
	h1, h1 a {color: $primary-color;}
}

// -----------------------------------------------------------------------------
// Page modules
// -----------------------------------------------------------------------------
.leader-overlay {position: absolute; z-index: 0; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.70);}
.leader-overlay {
	&.network-animation {background: rgba(0, 0, 0, 0.50);}
}
.network-animation-container {z-index: 0; position: absolute; top: -32px; bottom: -32px; left: 0; right: 0; overflow: hidden; background: #111;}
body.has-leader, body.dark-header {
	.main-nav-container {border-bottom: 1px solid rgba(0, 0, 0, 0);}
}
body.has-leader, body.dark-header {
	.main-nav-container {border-bottom: 1px solid $global-secondary-background;}
}
body.has-leader, body.dark-header {
	nav.main {
		.uk-logo {
			span {color: $background;}
		}
		.uk-navbar-nav {
			li a {color: $background;}
		}
	}
}
.hero-container {
	.hero {position: relative;}
	.hero.light {
		h1, h2 {color: $text-color;}
	}
	.info {
		h1 {font-size: 42px; font-family: $font-impact;}
		h2 {font-size: 22px; /*max-width: 569px;*/}
		.uk-button-primary {color: $background; background-color: $global-primary-background;}
	}
}

.icon-grid {}
.icon-grid {
	a {color: #666666 !important; text-decoration: none;}
	a {
		.uk-card-badge {top: 8px; right: 8px; opacity: 0.8; transition: opacity 250ms;}
		&:hover .uk-card-badge {opacity: 1;}
	}
	icon {font-size: 16px;}
}

// they STOLE it from us: https://9elements.com/blog/pure-css-diagonal-layouts/
.diagonal-box {position: relative;}
.diagonal-box:before {content: ""; display: block; position: absolute; z-index: 0; top: 0; right: 0; bottom: 0; left: 0; transform: skewY(-9deg); transform-origin: 50% 0; outline: 1px solid transparent; backface-visibility: hidden; background-size: cover; background-repeat: no-repeat; opacity: 0.2; background-position: center center;}
.diagonal-box > * {position: relative;}

.drawing {
	svg {max-width: 100%;}
}

// -----------------------------------------------------------------------------
// how it works
// -----------------------------------------------------------------------------
.how-part2-bg:before {background-image: url(/assets/images/passport-stamps.jpg);}
.laptop-network {
	$default-color: $secondary-color;
	$laptop1-color: #1885f8;
	$laptop2-color: #00ffab;
	$laptop3-color: #fdbf4a;
	svg {
		.transaction {fill: #0f0; stroke-width: 40px; stroke: #000;}
		.transaction-from-laptop1,
		#g-laptop1 ellipse,
		#g-laptop1 path {fill: $laptop1-color;}
		.transaction-from-laptop2,
		#g-laptop2 ellipse,
		#g-laptop2 path {fill: $laptop2-color;}
		.transaction-from-laptop3,
		#g-laptop3 ellipse,
		#g-laptop3 path {fill: $laptop3-color;}
		#laptop1-db,
		#laptop2-db,
		#laptop3-db {fill: $default-color !important; opacity: 0.9;}
		#g-db-data path {
			& {fill: none; opacity: 0; transition: opacity 1000ms;}
			&.enabled {opacity: 1;}
			&.data-laptop1 {fill: $laptop1-color;}
			&.data-laptop2 {fill: $laptop2-color;}
			&.data-laptop3 {fill: $laptop3-color;}
		}
	}
}

// -----------------------------------------------------------------------------
// contributing
// -----------------------------------------------------------------------------
body.contributing {
	a.uk-card-body:hover {text-decoration: none;}
}

