---
layout: default
title: 'How Basis works'
body_class: 'how'
network_animation: true
scroll_animation: false
leader:
  image: "/assets/images/network-home.jpg"
  text: "How Basis works: Part 1 - The Network"
  subtext: " "
---

<!--
- joining
- companies
- transactions between companies
  - cost tracking
  - public market
- membership, productive property
  - 
- banking
-->

<div class="uk-section uk-section-secondary">
	<div class="uk-container uk-container-small">
		<h4 class="uk-margin-large-bottom">
			Basis is a Distributed Ledger Technology system. This means it creates a network where
			the members all participate under the same set of rules, providing a platform for equal
			opportunity. It also means that the things that happen on the network are transparent
			and open to review by the members, creating a culture of openness and honesty.
		</h4>

		<div class="uk-grid-medium uk-grid-divider uk-child-width-1-3@s uk-flex-middle uk-margin-large-bottom" uk-grid>
			<div>
				This type of distributed system acts like a self-enforcing constitution.
				Participants can trust that everyone is playing by the same rules,
			</div>
			<div>
				Basis provides a foundation for engaging in production without profit, managing
				common property, and meeting the basic needs of members.
			</div>
			<div>
				Bottom-up self-governance is at the core of Basis. Members have a voice in the
				things affecting them, whether in the workplace or the entire system.
			</div>
		</div>

		<div class="animation drawing laptop-network uk-margin-auto uk-margin-large-bottom uk-width-1-2@s">
			{% include /svg/laptops.svg %}
		</div>
		<script src="{{ '/assets/js/animations/laptop-network.js' | prepend: site.basurl }}"></script>

		<p class="uk-text-emphasis">
			In the beginning, the network will be overseen by a central organization. As the
			network's <a href="{{ '/paper#network-self-sufficiency' | prepend: site.baseurl }}">self-sufficiency</a>
			increases, this organization's control cedes <em>automatically</em>. This setup helps
			protect the network in its infancy while ensuring its autonomy as time goes forward.
		</p>
	</div>
</div>

<div class="hero-container uk-section uk-section-secondary">
	<div class="diagonal-box how-part2-bg">
		<div class="uk-section">
			<div class="info uk-text-center uk-padding uk-container uk-container-small">
				<h1>How Basis works: Part 2 - Membership and Companies</h1>
				<h2 class="uk-margin-remove-bottom">
					Network membership is available to anybody at a worker-owned company which uses 
					Basis as the means of ordering/providing inventory and tracking labor costs.
				</h2>
			</div>
		</div>
	</div>
</div>

<div class="uk-section uk-section-secondary">
	<div class="uk-container uk-container-small">

	</div>
</div>

{% comment %}
{% include flip-flop.html
	flip=true
	image="/assets/images/stocks.jpg"
	text="Companies that use Basis are kewl." %}

{% include leader.html
	text="How Basis works: Part 3 - Products"
	image="/assets/images/train-station.jpg" %}

{% include leader.html
	text="How Basis works: Part 4 - Property"
	image="/assets/images/train-station.jpg" %}

{% include leader.html
	text="How Basis works: Part 5 - UBI"
	image="/assets/images/train-station.jpg" %}
{% endcomment %}

