---
layout: default
title: "Basis: A vision for a post-capitalist economy"
og_image: '/assets/images/logo.outline.png'
meta:
  buttons:
    - text: 'How it works &raquo;'
      url: '/how'
      class: 'uk-button-primary'
    - text: 'Get involved &raquo;'
      url: '/contribute'
      class: 'uk-button-default'
---

{% include leader.html
	light=true
	text="A vision for a post-capitalist productive system"
	subtext="Basis enables an economy where everyone has a say in their workplace, property is managed by the people who use it, and production focuses on ecologically meeting needs instead of generating profit."
	buttons=page.meta.buttons %}

<div class="uk-section uk-section-small uk-section-muted">
	<div class="uk-container uk-container-small">
		<h2>What is Basis?</h2>
		<p>
			Basis is a vision and implementation for what might come after capitalism. It strives to
			achieve the
			<a href="https://en.wikipedia.org/wiki/Free_association_(Marxism_and_anarchism)">free association of producers</a>
			and uses <a href="https://en.wikipedia.org/wiki/Calculation_in_kind">in-kind cost tracking</a>
			as a tool for ecologically-focused production. The project incorporates a set of
			open-source tools for creating and managing a bottom-up productive system where profit
			is no longer used in production, property is shared, and the basic needs of all
			participants are met.
		</p>

		<h2>What are the project's goals?</h2>
		<ol>
			<li>
				<strong>Transparent ecological production.</strong> Capitalism has failed us and our
				planet.  While it provides the things we need, it demands that we work harder and
				harder to produce things we <em>absolutely don't need</em>, and in the process
				ravages the planet and its resources. Basis envisions a productive system where
				need, not profit, is the primary objective of any economic activity. Beyond that,
				Basis seeks to make the relationship between our productive system and our
				environment open information for anyone to see, down to the individual product.
			</li>
			<li>
				<strong>Shared property.</strong> The concept of absentee ownership is rampant in our
				culture. Houses sit empty while families sleep in the streets. Workers provide
				the value while shareholders make all the descisions. Basis seeks a more intentful
				approach to the concept of property, such that determining use of housing,
				factories, and other property is removed from market forces, but more
				importantly that the people most affected by a resource are the ones who manage it.
				We envision a world without landlords or private owners.
			</li>
			<li>
				<strong>Free association.</strong> Our economy often forces us into places we don't
				want to be. How many of us have had to work jobs where at best we see no purpose in what
				we were doing, and at worst we are subject to abuse? Why do we spend so much of our
				time doing things that have no meaning to us or to others? Basis seeks to meet the
				basic needs of all participants, freeing them from having to constantly sell
				themselves, and allowing society to organize around <em>meaning and purpose</em>
				rather than making money.
			</li>
		</ol>
	</div>
</div>

<div class="uk-section uk-section">
	<div class="uk-container uk-container-small uk-text-center">
		<a href="{{ "/contribute" | prepend: site.baseurl }}" class="button-contribute uk-button uk-button-primary uk-button-large">Want to contribute?</a>
		<p>Come join us at the <a href="https://www.reddit.com/r/basisproject">Basis community</a> or
		<a href="https://github.com/basisproject/tracker/issues?q=is%3Aissue+is%3Aopen+label%3Atype%3Adiscussion">join in on ongoing discussions!</a></p>
	</div>
</div>


<div class="uk-section uk-section-small uk-section-muted">
	<div class="uk-container uk-container-small">
		<h2>
			Project news
			<small class="uk-text-small"><a href="{{ "/posts" | prepend: site.baseurl }}">All news &raquo;</a></small>
		</h2>
		{% include post-summary.html %}
	</div>
</div>


<div class="uk-section uk-section-small">
	<div class="uk-container uk-container-small">
		<h1>Why build this?</h1>
		<p>
			As capitalism has given to us, it has also taken away. It gives us a wage but takes our
			sense of ownership and purpose. It gives us houses but forces us into debt to live in
			them. It gives us hospitals but bankrupts us when we use them. It hands our political
			self-determination to banks and corporations and placates us with an endless stream of
			consumer trinkets, all while telling us we have "choice."
		</p>
		<p>
			The goal of Basis is to enable a system where we keep our sense of ownership and
			purpose, we keep the houses and hospitals we have built, we keep our self-determination,
			but shed the perversion of capital and the alienation it brings with it.
		</p>
		<p>
			Imagine a world where instead of asking "Will this make money?" people ask "Will this be
			useful to others?" It's a small shift in thinking, but would profoundly change our
			relationships to production, the environment, and each other. What would the world look
			like if we felt a connection to not just the things we made, but with the meaning behind
			our work? Basis was built with the goal of enabling an economy where profit is removed
			from production, replacing the random coldness of markets with a sense of connected
			purpose.
		</p>
	</div>
</div>
