<div class="uk-grid-medium uk-child-width-1-2@s uk-flex-middle flip-flop" uk-grid>
	<div>
		{% if include.image %}
			<img src="{{ include.image | prepend: site.baseurl }}">
		{% elsif include.svg %}
			<div class="animation drawing {{ include.animation_class }} uk-margin-auto uk-width-3-4@s" data-scroll-out>
				{% include {{ include.svg }} %}
			</div>
		{% elsif include.canvas %}
			<div class="animation drawing {{ include.animation_class }} uk-margin-auto uk-width-3-4@s" data-scroll-out>
				<div class="canvas-scaler">
					<canvas class="{{ include.canvas }}" width="100%" height="500" data-scroll-out></canvas>
				</div>
			</div>
		{% endif %}
	</div>

	<div class="{% if include.flip %}uk-flex-first@s{% endif %} {% if include.text_relative %}uk-position-relative{% endif %}">
		<h4>
			{{ include.text }}
		</h4>
	</div>
</div>

