{% if page.leader %}
<div class="main-nav-container uk-background-secondary uk-background-cover uk-position-relative {% if page.dark_header %}uk-background-secondary{% endif %}" style="background-image: url({% if page.leader.image_raw %}{{ page.leader.image_raw }}{% else %}{{ page.leader.image | prepend: site.baseurl }}{% endif %});" {% if page.network_animation != true %}uk-parallax="media: @m; easing: 0.2; bgy: -64,0"{% endif %}>
	{% if page.network_animation %}
		<div class="network-animation-container" uk-parallax="media: @m; easing: 0.2; y: -32,32"></div>
	{% endif %}
	<div class="leader-overlay {% if page.network_animation %}network-animation{% endif %}">&nbsp;</div>	
{% else %}
<div class="main-nav-container {% if page.dark_header %}uk-background-secondary{% endif %}">
{% endif %}
<div class="uk-container">
		<nav class="main" uk-navbar>
			<div class="uk-navbar-left">
				{% include logo.html %}
			</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav uk-visible@m">
					{% include nav-items.html %}
				</ul>
			</div>

			<div class="uk-navbar-right uk-hidden@m">
				<a class="menu uk-navbar-item" href="#mobile-nav" uk-toggle><icon>&#xF0C9;</icon></span></a>
			</div>
			<div id="mobile-nav" uk-offcanvas>
				<div class="uk-offcanvas-bar">
					<a class="uk-offcanvas-close"><span uk-icon="icon: close"></span></a>
					<ul class="uk-nav">
						{% include nav-items.html home=true social_labels=true %}
					</ul>
				</div>
			</div>
		</nav>

		{% if page.leader %}
			{% include leader.html
				skip_overlay=true
				author=page.author
				class=page.leader.class
				text=page.leader.text
				subtext=page.leader.subtext
				buttons=page.leader.buttons
				large=page.leader.large
				dark_header=page.dark_header
				network_animation=page.network_animation
				image=false %}
		{% endif %}
	</div>
</div>

