<li><a title="Source code" href="https://github.com/basisproject/"><icon>&#xF113;</icon>{% if include.social_labels %}&nbsp;&nbsp;Source &raquo;{% endif %}</a></li>
<li><a title="Reddit community" href="https://www.reddit.com/r/basisproject"><icon>&#xF281;</icon>{% if include.social_labels %}&nbsp;&nbsp;Community &raquo;{% endif %}</a></li>
<li><a title="Twitter" href="https://twitter.com/basisproject"><icon>&#xF099;</icon>{% if include.social_labels %}&nbsp;&nbsp;Twitter &raquo;{% endif %}</a></li>
<li><a title="Matrix (#basis:matrix.org)" href="https://matrix.to/#/!gNgFxsBfuTUXItEYdX:matrix.org?via=matrix.org"><icon>&#xE80C;</icon>{% if include.social_labels %}&nbsp;&nbsp;Matrix &raquo;{% endif %}</a></li>

