<div class="post-header {{ include.extra_classes }}">
	{% if post.leader %}
		<a href="{{ include.post.url | prepend: site.baseurl }}">
			<div class="cover uk-margin-small-bottom uk-height-small" style="background-image: url({% if post.leader.image_raw %}{{ post.leader.image_raw }}{% else %}{{ post.leader.image | prepend: site.baseurl }}{% endif %});">&nbsp;</div>
		</a>
	{% endif %}
	<{{ include.tag }}>
		<a class="post-link" href="{{ include.post.url | prepend: site.baseurl }}">{{ include.post.title }}</a>
	</{{ include.tag }}>
	<p class="date">{% if include.post.author %}{{ include.post.author }} - {% endif %}{{ include.post.date | date: "%b %e, %Y" }}</p>
</div>
