{% if include.brief == 1 %}
	{% include post-header.html post=post tag="h3" image=1 extra_classes="brief" %}
{% else %}
	{% if include.list == 1 %}
		{% include post-header.html post=post tag="h1" %}
		{% if post.leader.image %}
			<div class="uk-background-cover uk-section uk-section-large uk-section-secondary uk-margin-bottom" style="background-image: url({{ post.leader.image | prepend: site.baseurl }});">&nbsp;</div>
		{% else if post.leader.image_raw %}
			<div class="uk-background-cover uk-section uk-section-large uk-section-secondary uk-margin-bottom" style="background-image: url({{ post.leader.image_raw }});">&nbsp;</div>
		{% endif %}
	{% else %}
		{% unless include.post.leader %}
			{% include post-header.html post=post tag="h1" %}
		{% endunless %}
	{% endif %}
	<article>
		{% if include.content %}
			{{ include.content }}
		{% else %}
			{{ include.post.content }}
		{% endif %}
	</article>

	{% unless include.skip_comment_link %}
		<a class="commentlink" href="{{ include.post.url | prepend: site.baseurl }}#comments">Comments</a>
	{% endunless %}

	{% if include.post.tags.size > 0 %}
		<ul class="tags">
			<li><icon>&#xE800;</icon></li>
			{% for tag in include.post.tags %}
				<li><a href="/{{site.tag_archive.path}}/{{ tag | slugify }}">{{ tag }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endif %}

