---
layout: post.njk
title: "New paper: v3.0"
author: "Andrew Lyon"
leader:
  image: '/assets/images/typewriter.jpg'
---

I mentioned in my [last update][post-protocol-updates] that I'm working on a new paper for Basis.

Well, **[it's here!][paper]**

The new paper breaks things down into three types and describes the interactions between them: [agents][paper-agents] (you and me), [resources][paper-resources] (basically the same), and [blocs][paper-blocs] (what were "companies" before). It describes the protocol (in plain english, still) in its pure form, separating the interactions with the outside market systems [into its own section][paper-part3] (largely unfinished).

A new addition to the protocol is the [concept of processes][paper-processes] (which extends the [ValueFlows process model][vf-process]) allowing for the transformation of resources and the cost tracking of those transformations. For instance, `refine oil(100L crude oil)` might be a process with an input of crude oil and an output of gasoline, jet fuel, etc that could be priced (like a resource) based on its input amounts of oil. This allows incorporating costs of externalities of various economic processes into production.

Although not currently in the paper, the [tracker model][trackers] is really starting to take shape in a material way. Trackers have gone from "yeah, we should definitely figure that out" to "here's an actual proposal" which is a great step. Beyond that, an incentive model for trackers is also now somewhat solidified: when a person wants to get paid, they track their labor, so it follows that if we want to systemically incentivize tracking resources and processes, the system pays members of blocs when they do this tracking. There are some other mechanisms at play here (such as [cost staging][cost-staging]) to limit runaway effects of this, but the idea is that interacting with trackers is incentivized by the currency system.

The paper still has many blank spots as things in the [project tracker][github] are in flux, but it's a significant improvement to what it was before.

I'm looking forward to finalizing much of the [ongoing discussions][contribute] so new work can be started on the protocol implementation.

[Help keep things moving!][contribute]

[contribute]: /contribute/
[post-protocol-updates]: /posts/2021/10/protocol-updates/
[paper]: /paper/
[paper-agents]: /paper/#chapter-2-agents
[paper-resources]: /paper/#chapter-3-resources
[paper-blocs]: /paper/#chapter-4-blocs
[paper-part3]: /paper/#part-3-the-real-world
[paper-processes]: /paper/#processes
[github]: https://github.com/basisproject/tracker/issues/
[trackers]: https://github.com/basisproject/tracker/issues/140
[cost-staging]: https://github.com/basisproject/tracker/issues/139
[vf-process]: https://www.valueflo.ws/concepts/processes/

