---
layout: page.njk
title: "Frequently asked questions about Basis"
permalink: 'faq/'
leader:
  image_raw: 'https://upload.wikimedia.org/wikipedia/commons/1/11/Socialism.JPG'
  class: 'bg-center sm:bg-[center_top_-8rem]'
generate_toc: true
---

During the course of this project's slow and steady creation, I've had many conversations and debates about it. Here are some of the common questions I've received and their responses.

<div class="sm:float-right sm:w-1/3">
	{:toc}
</div>

## What *is* this project?

At its core, a protocol for tracking costs and the mechanisms to support this cost tracking. The ultimate goal is to increase collective awareness around our production and consumption.

Eventually, Basis aims to be an ecosystem of implementations of the protocol that help usher in more ecological models of production.

## Does this project use central planning?

No. Basis facilitates different modes of interaction in the context of production, but does not mandate or even guide *how* production is organized.

That said, Basis does use an aspect of a planned economy: allowing democratic setting of costs of known extrernalities. However, this in itself doesn't dictate the flows of production as much as it incorporates human knowledge directly into the economy.

It would be entirely possible to use economic planning *on top of Basis* (and would likely be much more effective than using things like prices), but Basis can also operate just fine in the context of autonomous, distributed production (such as what people think of as a market).

## Isn't this all just capitalism with extra steps?

Capitalism is not "when people exchange things." It's a set of economic relations and incentives. Basis attempts to adjust those relations to create new sets of incentives.

## What's wrong with capitalism?

It doesn't scale. It was fine at smaller populations of humanity, but producers are incentivized to externalize costs, and with nearly 8 billion people knocking around this planet, that's a lot of costs that are building up (for instance, climate change). Once externalities grow past various thresholds, price calculations become less and less meaningful: optimizing for one's own benefit can only happen to the detriment of others.

The solution seems to be more and more constantly-lagging and selectively-enforced regulations, but they're band-aid fixes on the real problem: the profit motive does not align personal gain with social or ecological well-being.

Capitalism has proven its inability to incorporate the costs of externalities into production, and has now scaled to the point that this inability is dangerous.

## Doesn't removing the need for profit make companies less efficient?

This depends entirely on what you're optimizing for. If you're optimizing for a producer's gain at the expense of the rest of society and the environment, then yes, removing profit makes things less efficient.

People who advocate for markets/capitalism talk of needs and prices being subjective. If that's the case, it follows that efficiency must also be subjective and cannot be used as an objective measure. It also follows that nothing is ever *just efficient*, but rather *efficient at something*. Is a whale efficient? It certainly is when holding its breath. However the same whale might not be an efficient trapeze artist. Let's also not forget that "lowering costs" might be the mark of an efficient company under a capitalist system, but most often lowering costs just means *externalizing costs*. That's not efficient, that's forcing your dirty laundry on everyone else.

So when people say a company is "efficient" what exactly does this mean? For our purposes, it will be efficient at meeting a social need as an integrated part of a community. Capitalism is not efficient at optimizing for this.

Keep in mind that the same mechanisms that lower costs in the market system exist here: the lower costs go, the more people can afford the products (because they have less labor content). As such, there is downward pressure on costs. Less so because of a cutthroat need for survival and more so because the producers of products are also the consumers, and would overall benefit from lower costs of production. However, this downward pressure on costs is tempered with UBI: if one's survival is not solely dependent on economic success, they will be much more likely to consider their larger community when making decisions as opposed to the win-at-all-costs mentality people are currently incentivized to engage in.

## Can I own a house?

Ownership is an interesting concept.

If you own a property in most countries, it could be argued you actually own the *title for use* of your property, not the property itself. You cannot dig a mine on your own property without state approval. You cannot build a 1000ft tall structure without state approval. If the state or federal government wants to build a railroad track through your house, they can force you off your land. In essence, in most countries property is owned jointly between cities, counties, states, and the nation. You own a title of use of your property, but you do not own the property itself. Ownership is a misnomer.

For our purposes, use of property would be much the same. Although the community would own houses and apartments, your use of that property would be like it would be if you "owned" property in the US. You can make improvements to the house you're occupying. You can take out walls or build additions. You can park your 25 year old station wagon in your front yard. Even though you didn't "buy" the property, you are afforded the same privileges as if you did in the market system. The only tangible difference between this and the market system is that usage is based off of need (availability and waitlisting), rather than market forces.

It's important to note that there's no pre-defined system of property management baked into Basis. Some housing blocs might be more permissive and let you paint your house black with green polkadots. Other housing blocs might be HOA hellscapes that want the houses, lawns, cars, streets, and sky in the neighborhood to all be beige. People are free to decide how their communities operate.

## Who decides who gets to live where?

The communities that act as stewards of various resources (such as housing) would be responsible for determining how those resources are distributed to their members. There is no one-size-fits-all method to figuring out usage of shared resources. They might automate it such that it's on a first-come, first-serve basis. They might want to match families with houses that have the correct amount of bedrooms. They might use a lottery system.

And yes, they might give the best properties to their cousins. However, all decisions about use of property are transparent and open to scrutiny of the community.

## Where do companies get the money to pay workers and buy things?

Companies don't use money. They simply order the things they need to fill the orders that they receive, and the system pays workers by printing credits for their labor.

That said, the system has limits for how much costs each company can command at any given time. This creates an upper limit on a company's inputs, which would have to be balanced with equal outputs.

## So wait you're just printing money to pay people?

Yes, printing it when labor is completed, and destroying it when it's spent.

What is really being done is creating a barrier around the productive system such that a form of money is used *outside of it* but not *inside*, with the end goal of centering production around need instead of profit.

## How will investment work?

Investment is still [an ongoing conversation](https://github.com/basisproject/tracker/issues/124), but will likely not stray too far from traditional models.

## Can credits be exchanged with other members?

Yes! Unlike traditional labor vouchers, credits can be shared between members! The goal is to not force people to spend their credits in the primary economy, but rather foster the secondary economy as well.

For instance, if you were not able to exchange credits with other members, things like garage sales would not exist. If you need a toaster, and your neighbor has one they no longer need, they wouldn't be able to sell it to you, and you would have to purchase a new one from a toaster company when there is a perfectly good one down the street. This would maximize waste in an attempt to limit all forms of secondary markets, which is futile.

Rather, you should be able to buy your neighbor's toaster, and they should be able to use the credits they got from you to buy a toaster that has more slots.

In addition, this system would also let you convert your credits into various forms of currency so you could participate in other markets outside the economy if you so choose. That being said, the conversion is one-way! You cannot *buy* credits...the only way to create them is by performing labor.

## Do credits expire?

No! Unlike traditional labor vouchers, credits *do not expire!* Does the value of the labor you provided to society "expire?" No? Then neither should the representation of the labor you've provided.

The idea of expiring labor vouchers seems to be at odds with the idea of workers receiving the full value of their labor in an attempt to limit accumulation. But why should accumulation be limited? What if someone needs to save for a big family vacation? Or some other large purchase?

Accumulation is a problem in a market system because profits distribute in uneven patterns and are subject to manipulation by those who already have capital. In a system of profitless production and worker ownership, the billionaire class would disappear. Enforcing this through the monetary system is nothing more than a band-aid fix and an admission of failure.

## Why track resources/processes and not just labor?

The idea behind tracking resources and processes is that value is not just derived from labor, but also from what was given to us by the Earth. In order to know the *true cost* of something, we can't just look at its labor content. Knowing both, producers aren't just ordering products based on the labor content, but the resource content as well, which helps make more informed decisions along the supply chain.

Tracking resources and processes gives us other advantages. When someone buys something with their credits, the resources contained in that item can have a credit cost that adds to the final price. For instance, if the fossil fuel content of all products is known, then a carbon tax can be enforced at the consumer level by adjusting the fossil fuel price (in credits). In other words, many externalities can be accounted for by tracking various resources and the processes they go through. We can raise the price of fossil fuel resources and watch as the productive system reorganizes to limit use of fossil fuels.

This allows members of the system to adjust resource consumption to match the availability of various resources without relying on capitalist markets to do the right thing or waiting for complex government regulations that take years of bickering just to agree on a corporate-approved half-solution.

## If companies are still valuing their outputs based on labor costs, won't there be just as much pressure to externalize?

Yes. Given the system as described so far, a company with lower costs will get more orders, and have less chance of no longer being able to meet social needs (ie, "bankruptcy" in the current system). So there's still a pressure to lower costs, and there's still a need to have a job, and that job being axed creates the same survival drive that exists in capitalism. While profit is removed from production, some dynamics from capitalism still exist.

That said, companies will *benefit* from tracking certain processes that cause known externalities, so they are incentivized to internalize their costs.

## How do we fix externalization then?

Two methods.

1. As mentioned above, catalog various externality-causing resources/processes and pay the workers of companies to track them: they are paid when they track their labor, so why not pay them for tracking raw materials used? Then, allow network members to price those resources/processes. In the end, you effectively have self-managed, stateless Pigouvian taxes based off of crowdsourced knowledge.
2. Universal Basic Income. Give everyone enough to take care of basic necessities: food, housing, transit, health, education.

## How does UBI help externalities?

People will be paid enough to live just for being members, so losing your job won't be as big of an issue. It's less of a struggle to survive, and lowers the need for competition. Everyone getting a living wage means it might become the norm to *not even take a wage at work*. This would significantly lower production costs, and as such lower pressure to externalize costs (because the cost of *survival* no longer needs to be covered by the productive system).

Imagine this too: we all collectively decide that coal is something we no longer want to invest in. In the current system, coal miners (rightfully) worry for their livelihood because they *depend* on society valuing their labor. They might not have the money to educate in a new vocation, and certainly the bank squeezing them for the mortgage will not wait two years for them to get out of school. What are they to do? Well, under capitalism they fight tooth and nail to keep the mine open and to keep the coal power plants burning. Change is resisted at all costs, because a person's livelihood is *tied to their job*.

With a UBI, there would be much less pressure to fight for the coal mine. If the demand for coal disappears, so be it. The miners have much more time to consider their options and their next venture. Society becomes much less brittle, much more willing to make changes, much more likely to take important leaps that the current economy would drag its feet on.

## Won't UBI make it so people just stop working?

First of all, no. People are generally social and creative. We want to contribute. We want to feel we are making a difference. We want to be useful. The only reason we think people are lazy is because our current system treats us like we are. We're so used to being forced to have a wage that we can hardly imagine what it would be like *if we didn't need to have a wage.* Ask yourself what you would do if you didn't *need* a job anymore. What things do you love doing that work gets in the way of? Are none of them productive? And sure, some of them might be more difficult, and for jobs that cause more stress, require more physical endurance, or are more dangerous you can still negotiate a higher-paying wage and get a bigger share of the social output.

Secondly, let's say everyone does stop working. Then what? Nobody repairs the roads. Nobody delivers your Wamazon packages. Nobody eats. You'd think at some point people might get sick of this. Let's trust each other to not let all of society unravel just because the imaginary number in our bank account goes up even if we don't work a job we hate.

Thirdly, the people who would not do anything productive in a system with a living wage UBI are likely people who will find a way to not do anything productive *in any system*. If they're not going to work, they're not going to work. Why punish everyone by trying to solve a problem that can't be solved?

But let's talk about another aspect of UBI: the people *who get paid for doing work the capitalist market doesn't value*. For instance, being a homemaker is a productive, thankless job, but without homemakers our society would not be nearly as advanced as it is. I'd be writing this on a typewriter, shivering next to a wooden stove in a log cabin (actually I do live in a cabin with a wood stove, but that's beside the point). A UBI gives homemakers the wage they deserve. And what about people who volunteer their time to help those in need? Does capitalism mail them a check for their service? How about artists and musicians? They work tirelessly to make our drab world a bit more tolerable, but often the only way they can scrape a living is by compromising their ideals.

I believe we'll find that if we treat people as if they are by default productive, they will happily prove us right.

## Isn't this system just a more complicated version of money?

Because quantitative easing, bond yield curves, treasury notes, packages of debt derivatives, equity, convertible notes, price shocks, speculation, and 401Ks are all really simple?

There is nothing inherently simple about currency in its current, modernized form. If anything we're simplifying the relations that money supposedly mediates.

## How do you get the precise data on labor, resources, processes, purchases, etc?

How do you get people to track their labor? You pay them when they do it. So let's do the same for resource and process costs. If a bloc tracks 50kg of coal, and the network prices coal at 4₡/kg, then the company can distribute a 200₡ dividend amongst its workers when that coal gets ordered. Same goes for processes and any other data: pay people to track it.

Once tracked, the system uses its transactional medium that automatically shifts costs between companies to keep account of all costs.

