---
layout: default.njk
title: 'Basis: An economic protocol for scalable, ecological production'
hide_title: true
og_image: '/assets/images/logo.outline.png'
---

{% import "www/includes/page-bullet.njk" as pagebullet %}
{% import "www/includes/network-animation.njk" as network %}
{% import "www/includes/external-link.njk" as link %}

<page>
	<div class="bs-container container-wide pt-16 pb-8">
		<h1 class="text-center py-8 mb-12">A new economic protocol for scalable, ecological production</h1>
		<p class="bs-container text-xl highlighter">
			<em>The Basis project</em> is an answer to the question: "What comes after Capitalism?" The project
			enables a productive system that <em>matches supply with demand without using profit</em>, tracks production
			costs in a detailed way that <em>allows adaptively pricing externalities</em> based on collective knowledge,
			<em>meets basic needs of participants</em>, and <em>preserves personal agency and autonomy</em>. It does this without
			economic planning or authoritarian structures, built from the ground up to be <em>self-organizing</em>.
		</p>
	</div>

	<div class="bs-container pb-16">
		<ul class="list-none ml-0 pl-0 mb-0 sm:flex sm:flex-wrap sm:items-start">
			{{ pagebullet.bullet('&#xE800;', "#network", 'Producer network', "Basis is a peer-to-peer protocol that facilitates transactions and exchanges within a network of builders and makers without the use of money, instead automatically tracking direct costs.", 'primary') }}
			{{ pagebullet.bullet('&#xE808;', "#cost-tracking", "Ecological accounting", "At its core, Basis is a cost-tracking system. However, Basis does not use money or prices as an exchange mechanism between producers.", 'violet-600') }}
			{{ pagebullet.bullet('&#x20A1;', "#currency", "Currency", "Credits (&#x20A1;) in Basis are paid as wages to workers and can be used for consumer purchases.", 'lime-600') }}
			{{ pagebullet.bullet('&#xF0AE;', "#cybernetics", "Cybernetics", "The profit mechanism is replaced with a more intentful approach that balances the well-being of workers, the health of the environment, and consumer relationships.", 'blue-600') }}
		</ul>
	</div>

	<div class="bg-slate-50 py-16">
		<div class="bs-container pb-4">
			<h2 id="network">Producer network</h2>
			<p class="text-lg">
				Basis is a {{ link.ext('peer-to-peer', 'https://en.wikipedia.org/wiki/Peer-to-peer') }} protocol that facilitates
				transactions and exchanges within a network of builders and makers without the use of money, instead
				automatically <a href="#cost-tracking">tracking direct costs in ways that allow for environmental
				equilibrium.</a>
			</p>
		</div>
		<div class="network"></div>
		{{ network.animation('.network', 'h-72 opacity-80', 'mx-auto') }}
		<div class="bs-container pb-4">
			<p class="text-lg">
				The transactions that happen in this network are transparent to all participants (<em>with the exception of
				consumer purchases which are entirely confidential</em>), allowing any member to view how a product is made
				from raw material to finished good. This transparency also encourages cooperation and collaboration as
				a primary form of production while still supporting competition as a balancing force.
			</p>
		</div>
	</div>

	<div class="bs-container py-16">
		<h2 id="cost-tracking">Ecological accounting</h2>
		{% macro cost(icon, title, text, accent = 'slate-400') %}
		<div class="block p-2 sm:w-1/3 border-t sm:border-t-0 sm:border-l first-of-type:border-0">
			<div class="flex items-center">
				<div class="w-1/6 text-center">
					<icon class="text-l text-center text-{{ accent }}">{{ icon }}</icon>
				</div>
				<div class="w-5/6 overflow-hidden" title="{{ text }}">
					<div class="p-2">
						<h5 class="mb-0 text-ink">{{ title }}</h5>
						<p class="mb-0 text-sm text-slate-500 truncate" title="{{ text }}">
							<code class="bg-transparent px-0">{{ text }}</code>
						</p>
					</div>
				</div>
			</div>
		</div>
		{% endmacro %}
		<p>
			Basis replaces the concept of a price inside the productive system with separate collections of
			labor, resources, and processes. A chair no longer costs $35, but rather 4kg wood from a new growth
			forest in Oregon, 37 minutes of sawmill worker labor, 1.2 hours of trucker labor, 1.1L of diesel
			fuel, etc.
		</p>
		<p>
			These costs are assigned to the products created by one company, and move with the product when
			it is ordered by another company. This matches inputs with outputs, completely eliminating the
			idea of profit.
		</p>
		<div class="sm:flex sm:justify-center pb-4 px-8">
			{{ cost('&#xE80E;', 'Labor', '2hr logger + 1hr trucker', 'primary') }}
			{{ cost('&#xF1BB;', 'Resources', '200kg lumber + 6L diesel', 'lime-600') }}
			{{ cost('&#xE80F;', 'Processes', 'refine(8L oil)', 'violet-600') }}
		</div>
		<p>
			This <i>cost tracking in disaggregate</i> allows democratically assigning prices to certain resources
			and processes that are known to have harmful externalities, enabling prices for end products to be
			much more accurate.
		</p>
		<p>
			This incorporation of externality cost directly into the things we make allows the productive system to attain
			<em>elevated human awareness</em> of its effects. Production becomes much more integrated
			and intentional.
		</p>
	</div>

	{#
	<div class="bs-container py-16">
		<h2 id="cost-tracking">Ecological accounting</h2>
		<p class="text-lg">
			At its core, Basis is a cost-tracking system. However, instead of using money and prices
			as an exchange mechanism between producers, costs are tracked directly as separate buckets of values.
			As products move and transform through the productive network, the costs associated with them
			accumulate, divide, and combine.
		</p>
		<p class="text-lg">
			Let's work through an example:
		</p>
		<p>
			NOTES<br>
			Semi-tractor: 25000kg wood (oak) (https://forestry.ca.uky.edu/sites/forestry.ca.uky.edu/files/forfs18-06_log_truck_study_methods.pdf)
			https://www.maine.gov/dacf/mfs/downloads/Wood_Supply_Chain_from_FRA.pdf
			https://www.nylumber.com/post/how-is-lumber-made
			http://www.madehow.com/Volume-3/Lumber.html
			https://extension.tennessee.edu/publications/documents/sp748.pdf
			https://meridian.allenpress.com/fpj/article/62/1/32/136771/Energy-Consumption-and-Efficiency-of-Appalachian
		</p>
		<h3>Outline</h3>
		<ul>
			<li>Logger cuts down trees, blank costs -> {labor: {logger: (logger wages * 8)}, resources: {lumber: 25000kg, gasoline: 3L}}</li>
			<li>Trucker transports logs, costs -> {labor: {logger: (logger wages * 8), trucker: (wages * 3hr)}, resources: {lumber: 25000kg, gasoline: 3L, diesel: 190L}}</li>
			<li>Mill processes logs {labor: {logger: (logger wages * 8), trucker: (wages * 3hr), miller: (wages * 8)}, resources: {lumber: 25000kg, gasoline: 3L, diesel: 190L}}</li>
		</ul>
	</div>
	#}

	<div class="bg-slate-50">
		<div class="py-16 bs-container">
			<h2 id="currency">Currency</h2>
			<p class="text-lg">
				The Basis protocol defines a currency, "credits" (&#x20A1;), created both as wages when engaging in production but also
				as a basic income. Credits are destroyed when spent on consumer products and do not circulate
				the productive network. This defines a membrane around the productive network that allows pricing
				products <em>separately from their cost</em> without the producers realizing a direct gain or loss,
				allowing elevated systems of value. The process of pricing is guided and incentivized by
				<a href="#cybernetics">the cybernetics system.</a>
			</p>
		</div>
	</div>

	<div class="py-16 bs-container">
		<h2 id="cybernetics">Cybernetics</h2>
		<p class="text-lg">
			The profit mechanism is replaced with a more intentful approach that balances the well-being of
			workers, the health of the environment, and consumer relationships. This is done using
			cybernetics, which determines producer performance in the absence of profit using
			the other available information in the protocol as a guideline. This allows automatic
			adjustment of the ongoing societal investment in a producer based on the demand for their
			products, the delta between their costs and their prices, etc. The cybernetics system can
			be thought of as a slow-moving gravitational pull toward benefiting society as a whole.
		</p>
	</div>

	<hr class="m-0">

	<div class="py-16 bs-container">
		<div class="text-center">
			<a class="custom button mb-4 uppercase" href="{{ site.base }}/paper/">Would you like to know more? &raquo;</a>
			<p>
				Read the paper and find out how the protocol works in detail!
			</p>
		</div>
	</div>

	<div class="bg-slate-50">
		<div class="bs-container py-8 pb-2">
			<h2>
				Project news
				<a class="text-xl" href="/posts/"><small>All news &raquo;</small></a>
			</h2>
			<ul class="ml-0 list-none sm:flex sm:flex-wrap">
			{% for post in posts.slice(0, 12) %}
				<li class="sm:w-1/3 py-3 px-6 sm:pl-0">
					<div>
						{% set postimage = post.leader %}
						{% set postimage_medium = true %}
						<a href="{{ post.url }}">
							{% include "www/includes/post-image.njk" %}
						</a>
					</div>
					<h4 class="text-xl">
						<a class="block" href="{{ post.url }}">
							{{ post.title }}
						</a>
						<small class="text-slate-700">{{ post.author }} - {{ post.date_moment.format('MMM D, YYYY') }}</small>
					</h4>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="bs-container py-16 text-center">
		<a class="custom button mb-4 uppercase" href="{{ site.base }}/contribute/">Want to contribute?</a>
		<p>
			Come join us at the <a href="https://www.reddit.com/r/basisproject">Basis community</a>
			or <a href="https://github.com/basisproject/tracker/issues?q=is%3Aissue+is%3Aopen+label%3Atype%3Adiscussion">join in on ongoing discussions!</a>
		</p>
	</div>
</page>

