---
layout: default.njk
title: 'Basis: An economic protocol for scalable, ecological production'
hide_title: true
og_image: '/assets/images/logo.outline.png'
---

{% import "www/includes/page-bullet.njk" as pagebullet %}

<page class="pt-4">
	<div class="bs-container py-8">
		<h1 class="text-center mb-4">An economic protocol for scalable, ecological production</h1>
		<h3 class="text-center mb-0 text-gray-600">Basis enables a distributed productive system that limits externalities by aligning personal gain with social well-being</h3>
	</div>

	<div class="bs-container py-4">
		<ul class="list-none ml-0 pl-0 mb-0 sm:flex sm:flex-wrap sm:items-start">
			{{ pagebullet.bullet('&#xE800;', "#transactional-system", "Transactional system", "Underneath all the economic operations in Basis is the transactional system", 'primary') }}
			{{ pagebullet.bullet('&#xE808;', "#cost-tracking", "Ecological accounting", "Basis replaces the concept of a price with separate collections of labor and resources.", 'violet-600') }}
			{{ pagebullet.bullet('&#xF0AE;', "#cybernetics", "Cybernetics", "The profit mechanism is replaced with a more intentful approach that balances the well-being of workers, the health of the environment, and consumer relationships.", 'blue-600') }}
			{{ pagebullet.bullet('&#x20A1;', "#currency", "Currency", "Credits (&#x20A1;) in Basis are paid as wages to workers and can be used for consumer purchases.", 'lime-600') }}
			{{ pagebullet.bullet('&#xE80A;', "#basic-income", "Basic income", "Basic income is distributed to all participants periodically.", 'teal-600') }}
			{{ pagebullet.bullet('&#xF24E;', "#value-systems", "Value systems", "Severing the link between cost and consumption price allows for the use of different value systems.", 'yellow-600') }}
		</ul>
	</div>

	<div class="bs-container py-8">
		<p class="text-lg highlighter">
			The Basis project is an answer to the question: "What comes after Capitalism?" The goal of the project
			is to enable a productive system that <em>matches supply with demand without using profit</em>, tracks production
			costs in a detailed way that <em>allows adaptively pricing externalities</em> based on collective knowledge,
			<em>meets basic needs of participants</em>, and <em>preserves personal agency and autonomy</em>. It does this without
			needing economic planning or authoritarian structures, being built from the ground up to be <em>self-organized.</em>
		</p>

		<h2>How Basis works</h2>
		<p>
			Basis works by describing different types of economic entities
			(<a href="{{ site.base }}/paper/#chapter-2-agents">agents</a>,
			<a href="{{ site.base }}/paper/#chapter-3-resources">resources</a>,
			<a href="{{ site.base }}/paper/#chapter-4-blocs">blocs</a>) and defines the relationships and
			interactions between them. This includes profitless exchange between producers, detailed cost
			tracking, consumer purchases, methods for directing investment, and more.
		</p>
		<p>
			The project's ultimate goal is to implement a scalable p2p (peer-to-peer) network that facilitates these
			interactions as well as allows interfacing with the existing market systems. This allows a steady
			and peaceful transition to a new economic model.
		</p>

		<h3 id="transactional-system">Transactional system</h3>
		<p>
			Underneath all the economic operations in Basis is the transactional system. This allows
			producers (<a href="{{ site.base }}/paper/#chapter-4-blocs">"blocs"</a>) to order products and services from each other
			while automatically tracking labor, resource, and process costs, as well as facilitates the other operations in the protocol. This is transparent to
			participants: all economic interactions are visible to all, creating a culture of openness
			and collaboration (with the exception of consumer purchases, which are entirely confidential).
			This does not eliminate competition, but allows space for other forms of production.
		</p>

		<h3 id="cost-tracking">Ecological accounting</h3>
		{% macro cost(icon, title, text, accent = 'slate-400') %}
		<div class="block p-2 sm:w-1/3 border-t sm:border-t-0 sm:border-l first-of-type:border-0">
			<div class="flex items-center">
				<div class="w-1/6 text-center">
					<icon class="text-l text-center text-{{ accent }}">{{ icon }}</icon>
				</div>
				<div class="w-5/6 overflow-hidden" title="{{ text }}">
					<div class="p-2">
						<h5 class="mb-0 text-ink">{{ title }}</h5>
						<p class="mb-0 text-sm text-slate-500 truncate" title="{{ text }}">
							<code class="bg-transparent px-0">{{ text }}</code>
						</p>
					</div>
				</div>
			</div>
		</div>
		{% endmacro %}
		<p>
			Basis replaces the concept of a price with separate collections of labor, resources, and processes. A chair
			no longer costs $35, but rather 4kg wood from a new growth forest in Oregon, 37 minutes of
			sawmill worker labor, 1.2 hours of trucker labor, 1.1L of diesel fuel, etc.
		</p>
		<p>
			These costs are assigned to the products created by one company, and move with the product when
			it is ordered by another company. This matches inputs with outputs, completely eliminating the
			idea of profit.
		</p>
		<div class="sm:flex sm:justify-center pb-4 px-8">
			{{ cost('&#xE80E;', 'Labor', '2hr logger + 1hr trucker', 'primary') }}
			{{ cost('&#xF1BB;', 'Resources', '200kg lumber + 6L diesel', 'lime-600') }}
			{{ cost('&#xE80F;', 'Processes', 'refine(8L oil)', 'violet-600') }}
		</div>
		<p>
			This <i>cost tracking in disaggregate</i> allows democratically assigning prices to certain resources
			and processes that are known to have harmful externalities, enabling prices for end products to be 
			much more accurate. Allowing things like <i>fossil fuels</i> to be priced higher would increase the
			demand for less harmful energy sources.
		</p>

		<h3 id="cybernetics">Cybernetics</h3>
		<p>
			The profit mechanism is replaced with a more intentful approach that balances the well-being of
			workers, the health of the environment, and consumer relationships. This is done using
			cybernetics, which determines producer performance in the absence of profit using
			the other available information in the protocol as a guideline. This allows automatic
			adjustment of the ongoing societal investment in a producer based on the demand for their
			products, the delta between their costs and their prices, etc. The cybernetics system can
			be thought of as a slow-moving gravitational pull toward benefiting society as a whole.
		</p>

		<h3 id="currency">Currency</h3>
		<p>
			Credits (&#x20A1;) in Basis are printed and paid as wages to workers and can be used for consumer
			purchases. Upon spending credits on consumer goods purchased from the producer network
			Basis forms, credits are destroyed. They do not circulate the economy and exist only
			outside the productive system. This creates a barrier around production which not only
			enforces its profitless nature but also allows for producers to price products
			<i>separately from their cost</i> without realizing those gains or losses directly,
			opening the pathway to new systems of value.
		</p>

		<h3 id="basic-income">Basic income</h3>
		<p>
			Basic income is distributed to all participants periodically. Because the currency system
			is set up to not circulate the productive system, the basic income <i>can be printed without
			taxation</i>. Instead of taking from some and giving to others, it represents a social
			agreement that we are all productive to some extent, whether our wages reflect this or not.
			This not only acts as a simple safety net but also weakens the bond between
			<i>productivity</i> and <i>economic survival</i>, making the economy much more adaptable
			while also making a big shift towards <i>free association</i>.
		</p>

		<h3 id="value-systems">Value systems</h3>
		<p>
			Severing the link between <i>cost and consumption price</i> allows for the use of different value
			systems. Maybe disabled people get much cheaper wheelchairs. Maybe we scrap currency
			altogether and try out a gift economy. However people wish to associate with each other
			in a productive sense is achievable in Basis because the currency and cybernetics systems
			can be adapted to fit many needs.
		</p>

		<hr class="m-0 mt-8">

		<div class="text-center pt-8">
			<a class="custom button mb-4 uppercase" href="{{ site.base }}/paper/">Would you like to know more? &raquo;</a>
			<p>
				Read the paper and find out how the protocol works in detail!
			</p>
		</div>
	</div>

	<div class="bg-slate-50">
		<div class="bs-container py-8 pb-2">
			<h2>
				Project news
				<a class="text-xl" href="/posts/"><small>All news &raquo;</small></a>
			</h2>
			<ul class="ml-0 list-none sm:flex sm:flex-wrap">
			{% for post in posts.slice(0, 12) %}
				<li class="sm:w-1/3 py-3 px-6 sm:pl-0">
					<div>
						{% set postimage = post.leader %}
						{% set postimage_medium = true %}
						<a href="{{ post.url }}">
							{% include "www/includes/post-image.njk" %}
						</a>
					</div>
					<h4 class="text-xl">
						<a class="block" href="{{ post.url }}">
							{{ post.title }}
						</a>
						<small class="text-slate-700">{{ post.author }} - {{ post.date_moment.format('MMM D, YYYY') }}</small>
					</h4>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="bs-container py-16 text-center">
		<a class="custom button mb-4 uppercase" href="{{ site.base }}/contribute/">Want to contribute?</a>
		<p>
			Come join us at the <a href="https://www.reddit.com/r/basisproject">Basis community</a>
			or <a href="https://github.com/basisproject/tracker/issues?q=is%3Aissue+is%3Aopen+label%3Atype%3Adiscussion">join in on ongoing discussions!</a>
		</p>
	</div>
</page>

