---
layout: page.njk
title: 'Project news'
permalink: 'posts/'
hide_title: true
---

<posts>
{% for post in posts %}
	<post class="block mb-12 pb-12 border-b">
		{% include "www/includes/post.njk" %}
	</post>
{% endfor %}
</posts>

