---
layout: page.njk
title: 'Testimonials from people who love Basis'
---

> [It's a completely nonsensical idea.](https://www.reddit.com/r/mutualism/comments/v6bi8z/how_can_we_deal_with_negative_externalities/ibfbzj5/)

> [Sounds like you're just trying to "fix" capitalism.](https://www.reddit.com/r/mutualism/comments/v6bi8z/how_can_we_deal_with_negative_externalities/ibergml/)

> [It seems like food stamps.](https://www.reddit.com/r/CapitalismVSocialism/comments/u7x1o4/is_ubi_exploitative/i5hq0v3/)

> [Honestly, it sounds like a lot of work to produce an absolute fucking nightmare.](https://www.reddit.com/r/mutualism/comments/v6bi8z/how_can_we_deal_with_negative_externalities/ibg4uis/)




