@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'includes/fonts.scss';

@layer components {
	.bs-container {@apply block max-w-4xl mx-auto px-4;}
	.button {@apply inline-block bg-primary text-center text-white font-accent py-4 px-8 sm:bg-primary/[0.80] sm:hover:bg-primary sm:transition-colors;}
}

.main-content {
	a:not(.custom) {@apply text-link;}
	a:not(.custom):hover {@apply underline;}
	a:not(.custom):visited {@apply text-linkvisited;}
}

post, page {
	h1, h2, h3, h4 {
		& {@apply text-primary;}
		&, .date {@apply font-accent;}
	}
	h1 {@apply text-4xl mb-6;}
	h2 {@apply text-3xl mb-5;}
	h3 {@apply text-2xl mb-4;}
	h4 {@apply text-xl mb-3;}
	p, ul, ol {
		& {@apply mb-4;}
		& + h1 {@apply mt-12;}
		& + h2 {@apply mt-8;}
		& + h3 {@apply mt-6;}
		& + h4 {@apply mt-4;}
	}
	img + p {@apply mt-4;}
	p:last-child {@apply mb-0;}
	ul, ol {
		ul, ol {@apply mb-0;}
	}
	ul {@apply list-disc ml-8;}
	ol {@apply list-decimal ml-8;}
	code {@apply p-1 whitespace-nowrap text-primary bg-neutral-100 text-sm p-1;}
	pre {
		& {@apply mb-4 border p-2 whitespace-pre;}
		code {@apply p-0 whitespace-pre text-slate-500 bg-inherit;}
	}
	hr {@apply mb-4;}
}

